
/* RGB */
// grey
$color1: rgba(129, 127, 130, 1);
// red
$color2: rgba(235, 61, 50, 1);
// white
$color3: rgba(255, 251, 252, 1);
// green
$color4: rgba(131, 211, 199, 1);
// blue
$color5: rgba(57, 125, 188, 1);
